{% block main %}
    {% block form %}
    <form action = "/data" method="POST">
    {% block fields %}
       <div class = "apos-field">
           <label class = "apos-field-label" for="input-data">Даные для отправки</label>
           <input class = "apos-field-input apos-field-input-text" type="text" name="input-data" id="input-data" placeholder="Введите данные...">
       </div>
       <div>
            <input type="submit" class="apos-button apos-button--major" value="Отправить" />
        </div>
    {% endblock %}
    </form>
    {% endblock %}
{% endblock %}